version: "3"
services:
  streamhub:
    image: ghcr.io/huanhq99/streamhub:latest
    container_name: streamhub
    ports:
      - "3000:3000"
    environment:
      # TMDB API Key (Optional, can be set in Web UI)
      - TMDB_API_KEY=
      # Proxy Settings (Optional)
      # - HTTP_PROXY=http://host.docker.internal:7890
      # - HTTPS_PROXY=http://host.docker.internal:7890
    volumes:
      - ./data:/app/data
    restart: unless-stopped

