version: "3.8"
services:
  streamhub:
    image: ghcr.io/huanhq99/streamhub:latest
    container_name: streamhub
    ports:
      - "3000:3000"
    environment:
      - TMDB_API_KEY=${TMDB_API_KEY}
      - EMBY_SERVER_URL=${EMBY_SERVER_URL}
      - EMBY_API_KEY=${EMBY_API_KEY}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
    volumes:
      - ./config:/app/backend/config
      - ./data:/app/backend/data
    restart: always
