version: "3.8"
services:
  streamhub:
    build: .
    image: streamhub:local
    container_name: streamhub
    ports:
      - "3000:3000"
    environment:
      - TMDB_API_KEY=${TMDB_API_KEY}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
    restart: always

