version: "3.8"
services:
  streamhub:
    build: .
    image: streamhub:local
    container_name: streamhub
    ports:
      - "3000:3000"
    environment:
      - TMDB_API_KEY=${TMDB_API_KEY}
      - EMBY_SERVER_URL=${EMBY_SERVER_URL}
      - EMBY_API_KEY=${EMBY_API_KEY}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
    depends_on:
      - backend
    volumes:
      - ./config:/app/backend/config
      - ./data:/app/backend/data
    restart: always

  backend:
    build: ./backend_python
    container_name: streamhub-backend
    expose:
      - "8000"
    restart: always

